@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.full {
    background: url('../img/hero1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.thanks {
    background: url('../img/hero1-bg.jpg') no-repeat center center fixed !important;
}

.ksa {
    background: url('../img/hero1-KSA-background.jpg') no-repeat center center fixed !important;
}

.ksa-thanks {
    background: url('../img/hero1-KSA.jpg') no-repeat center center fixed !important;
}

.jc-dubai {
    background: url('../img/hero1-jc-dubai.jpg') no-repeat center center fixed !important;
}

.media-dubai {
    background: url('../img/hero1-media-dubai.jpg') no-repeat center center fixed !important;
}

.erp-dubai {
    background: url('../img/hero1-erp-dubai.jpg') no-repeat center center fixed !important;
}

.erp-thanks {
    background: url('../img/hero1-erp-bg.jpg') no-repeat center center fixed !important;
}

.jc-thanks {
    background: url('../img/hero1-jc-bg.jpg') no-repeat center center fixed !important;
}

.register-title {
    color: whitesmoke;
    text-align: left;
    font-size: 16px !important;
    margin-bottom: 0px !important;
    padding-left: 15px;
}

.panel-title {
    text-align: center;
}


.navbar {
    background-color: white;
}

.navbar-brand {
    padding: 5px 0px !important;
}


.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}

.btn {
    background-color: #ff9900;
    border-color: #ff9900;
}

    .btn:hover {
        background-color: #feb340 !important;
        border-color: #feb340 !important;
    }

.form-control {
    /*background: rgba(0,0,0,0) !important;*/
}

.panel {
    background: rgba(0,0,0,0) !important;
}

.staytuned {
    color: whitesmoke;
    font-family: 'LeagueGothic';
    font-size: 54px;
    margin-bottom: 0px !important;
    margin-top: 15px;
}

.subscribe-panel {
    width: 100%;
}

.subscribe-div {
    padding: 0px !important;
}

.centered-form {
    margin-top: 10px;
}

.main {
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.thanks-main-div {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.thanks-main-div-media {
    margin-top: 150px;
    width: 50%;
}

.thanks-inner {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .thanks-main-div, .thanks-main-div-media {
        width: 80% !important;
    }
}


@media screen and (max-width: 600px) {
    .thanks-main-div, .thanks-main-div-media {
        width: 100% !important;
    }
}

#cancel-btn:hover {
    background-color: #d9534f;
}



/* TASK WORK ORDER */

.two-body-bg{
    background: url('../img/TWO-v5-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.two-bg {
    background: url('../img/TWO-head-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
}

.two-title {
    color: whitesmoke;
    font-family: Arial,sans-serif;
    font-size: 37px;
    margin-bottom: 0px !important;
    /*margin-top: 15px;*/
    line-height: 1;
    font-weight: 600;
    text-align:center;
}

.two-subtitle {
    color: whitesmoke;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 0px !important;
    margin-top: 15px;
    line-height: 1;
    font-weight: 600;
    text-align:center;
}


.two-fontfamily{
     font-family: Arial,sans-serif;
}

.two-text {
    font-family: Arial,sans-serif;
    font-size: 14px;
}

.two-linebreaker {
    font-family: Arial,sans-serif;
    padding: 12px 0 5px 0px;
    font-size: 14px;
}

.two-feature-title {
    padding: 5% 0 0 0;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #28539C;
    line-height: 1;
}

.two-feature-desc {
    font-family: Arial,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    color: #000000;
    font-size:14px;
    text-align:justify;
}

.two-submore{
    text-align:center;
}

.two-submore-btn{
    color:#f3f3f3;
    text-decoration: underline;
    font-size:14px;
}



.text-white {
    color: #ffffff;
}


.text-black {
    color: #000000;
}

.text-transparent {
    color: transparent;
}

.bg-white {
    background-color: #ffffff;
}
.bg-black{
    background-color: #000000;
}


.dolphin-orange-bg {
    background-color: #FC9903;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}


@media screen and (min-width: 576px) {

    .two-title {
        font-size: 40px;
        line-height: 43px;
        text-align:left;
    }

    .two-subtitle {
        font-size: 28px;
        text-align:left;
        line-height: 43px;
    }

    .two-text {
        font-size: 20px;
    }

    .two-linebreaker {
        font-size: 18px;
    }

    .two-feature-title {
        padding: 5% 0 0 0;
        font-size: 5vw;
    }

    .two-submore{
        text-align:left;
    }

    .two-submore-btn{
        font-size:18px;
    }

}


@media screen and (min-width: 768px) {

    .two-feature-title {
        padding: 2% 0 0 0;
        font-size: 5vw;
    }
    .two-feature-desc{
        font-size:2.5vw;
    }
}

@media screen and (min-width: 992px) {

    .two-feature-title {
        font-size: 2vw;
        padding: 0;
    }
    .two-feature-desc{
        font-size: 2vw;
    }
    .two-feature-desc{
        font-size:1.5vw;
    }
}



@media screen and (min-width: 1200px) {
    .two-title {
        font-size: 74px;
        line-height: 76px;
    }

    .two-subtitle {
        font-size: 34px;
    }

    .two-linebreaker {
        font-size: 18px;
    }

    .two-feature-title {
        line-height: 1;
        padding: 0;
        font-size: 2vw;
    }

    .two-feature-desc{
        font-size: 1.5vw;
    }
}

/* END TASK WORK ORDER */
